<% include partials/header %>
<% if (posts.length === 0) { %>
  <img src="/images/blank.jpg" alt="blank">
<% } else { %>
  <main id="main" class="container">
    <% posts.forEach(post => { %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><a class="text-dark" href="/post/<%= post._id %>"><%= post.title %></a></h5>
          <p class="card-text"><small class="text-muted"><%= post.postedDate.toDateString() %> by <%= post.author.name %></small></p>
          <p class="card-text"><%= post.body %></p>
        </div>
        <% if(post.image) { %>
        <img src="<%= post.image %>" class="card-img-top">
        <% } %>
      </div>
    <% }); %>
  </main>
<% } %>
<% include partials/footer %>